@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <strong>Mobile First, please visit this site from a mobile device</strong>
</body>
</html>
